# dependencies
node_modules/

# build folders
build/
dist/
.gradle/

# Android
*.apk
local.properties
captures/

# IntelliJ / Android Studio
.idea/
*.iml

# logs
*.log

# env
.env

# mac/windows
.DS_Store
Thumbs.db